<div class="big-box">
    
    <h2 class="title"> About us </h2>

    <div class='content'>
        <p> If you love movies as much as we do and used to love to stare at your movie collection as a kid you are in the perfect place! </p> 

        <p> The old movie collections were great but hard to keep up with these days. Physical copies of your favorite movies are easily lost in moves or outdated. </p> 

        <p> With our app you are able to search, through an infinite movie data base (The OMDBapi), for your favorite movies then store it in "Favorites". You can also write comments to remind yourself of your favorite parts, or even make a note with the online streaming link! </p> 
    </div>
</div>