<h1>Welcome to </h1>

<div class="logo-box">
  <a href="https://imgur.com/PPvsWts"><img src="https://i.imgur.com/PPvsWts.png" title="source: imgur.com" /></a>
</div>
<div class='movie-search'>
  <p>Search for a movie below...</p>

  <form method="GET" action="/results">
    <lable for="search"></lable>
    <input type="text"  id="search-bar" name="movieSearch" />

    <button type="submit" class="search"></button>
  </form>
</div>