
<h2 class="title">Welcome to your profile <span id="user-name"><%= user.user_name %></span> ! </h2>

<div class="about-you">
    <div class="img-icon__contaner">
        <p class="img-icon">Image Icon:</p>
    </div>
    <p class="description">Favorite Genres:</p>
    <p class="description">Favorite Movie of all times:</p>
    <p class="description">Favorite Movie as a kid:</p>
    <p class="description">Favorite Movie Quote:</p>

</div>

<a href="/favorites">Your Favorites</a>
